.counter {
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  width: 90%;
  border-radius: 5px;
  background-color: rgb(17, 181, 235);
}
.normal {
  font-size: 66px;
  font-weight: bold;
  color: black;
}

.hight {
  font-size: 66px;
  font-weight: bold;
  color: red;
}
